.ulTag {
    --size-gap: 2%;
    --column: 4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--size-gap);

    @media (max-width: 789px) {
        --column: 1;
    }

    > li {
        aspect-ratio: 4/3;
        flex-basis: calc(
            (100% - var(--size-gap) * (var(--column) - 1)) / var(--column)
        );
        margin-bottom: var(--size-gap);
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            color: #fff;
            span {
                text-transform: uppercase;
                opacity: 0.7;
                @media (max-width: 789px) {
                    font-size: 12px;
                }
                @media (min-width: 790px) {
                    font-size: 9px;
                }
                @media (min-width: 1281px) {
                    font-size: 13px;
                }
            }
            h4 {
                margin: 8px 0;
            }
        }
    }
}
