.partners {
  @media (max-width: 789px) {
    --size-gap: 4%;
  }

  --size-gap: 2%;
  --column: 4;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--size-gap);

  @media (max-width: 1049px) {
    --column: 2;
  }
  @media (max-width: 789px) {
    --column: 1;
  }

  > li {
    flex-basis: calc(
      (100% - var(--size-gap) * (var(--column) - 1)) / var(--column)
    );
    margin-bottom: var(--size-gap);

    .thumb {
      --br-color-thumb: ;
      background-color: var(--br-color-thumb);
      @media (min-width: 1281px) {
        height: 245px;
      }
      @media (min-width: 1050px) {
        height: 217px;
      }

      height: 306px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        aspect-ratio: auto 183 / 123;

        display: block;
        max-width: min(100%, 284px);
      }
    }
    .info {
      .title {
        margin: 30px 0;
        color: #2d85f3;
        display: block;
        @media (min-width: 790px) {
          font-size: 16px;
        }
        @media (min-width: 1281px) {
          font-size: 21px;
        }
        text-transform: uppercase;
        font-size: 20px;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}
