.wrapper {
    padding: 80px 0 120px;
    margin: 0 auto;
    @media (max-width: 789px) {
        width: 90% !important;
    }
    > h3 {
        font-weight: 600;
        line-height: 1.25;
        font-size: 18px;
        margin: 21px 0;
        @media (min-width: 1281px) {
            font-size: 21px;
        }
        @media (max-width: 789px) {
            text-align: center;
            line-height: 1.1em;
        }
    }
}
