.sj {
  strong {
    font-size: 10px;
    font-weight: normal;
    color: #999;
    margin-left: 8px;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    strong {
      margin-bottom: 10px;
    }
  }
}
.wrapper-ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    justify-content: center;
  }
  .item {
    @media (max-width: 768px) {
      margin: 0 10px 10px;
    }
    margin: 0 5px 5px;

    .button-ul-open-position {
      @media (max-width: 768px) {
        padding: 12px 16px;
        font-size: 11px;
        &.disable {
          display: none;
        }
      }
    }
  }
}
