@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  width: 100%;
  position: relative;

  border-top: 1px solid #ccc;
  .container {
    margin: auto;

    padding-top: 7em;
    padding-bottom: 5.5em;

    position: relative;

    overflow: hidden;
    @media (max-width: 1680px) {
      padding: 5em 0 4.25em 0;
    }
    @media (max-width: 1280px) {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      padding-left: 5% !important;
      padding-right: 5% !important;
    }

    .chart {
      margin-top: 2em;
      position: relative;

      @media (max-width: 767px) {
        overflow-y: hidden;
        overflow-x: scroll;
      }

      .scroll-container {
        display: flex;
        align-items: center;

        position: relative;

        @media (max-width: 767px) {
          width: auto;
        }

        .timeline-item {
          height: 169px;

          @media (max-width: 770px) {
            background-position: 118px left !important;
          }
          background: url("../../../../../access/image/slider/GamesPage/timeline/bg_release_timeline.png")
            repeat-x bottom left;

          @media (max-width: 767px) {
            height: 236px;
          }
          .icon {
            height: 36px;
            margin-left: 12px;
          }

          &:last-child {
            background: url("../../../../../access/image/slider/GamesPage/timeline/bg_release_timeline_inactive.png")
              repeat-x bottom left;
            .title {
              border-left: 1px solid transparent;
            }
          }

          .title {
            display: block;
            border-left: 1px solid #ddd;
            padding-left: 10px;
            padding-right: 20px;
            height: 73px;
            line-height: 1.6em;
            @media (max-width: 1680px) {
              font-size: 13px;
            }
            @media (max-width: 1280px) {
              font-size: 12px;
            }
            @media (max-width: 1024px) {
              font-size: 10px;
            }
            @media (max-width: 767px) {
              font-size: 12px;
            }
          }

          .time {
            padding-top: 46px;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
        &::after {
          content: "";
          display: inline-block;
          height: 32px;
          position: absolute;
          top: 137px;
          left: 0;
          right: 0;
          background: url("../../../../../access/image/slider/GamesPage/timeline/bg_games_timeline_bar.png");
          background-repeat: no-repeat;
          background-size: 100% auto;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;

          @media (max-width: 767px) {
            width: 1570px;
          }
        }
      }
    }

    .sw-navigate {
      margin-top: 20px;
      font-size: 14px;

      color: rgb(153, 152, 152);

      animation: glow 2.5s ease-in-out infinite;
      user-select: none;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .thumb {
      position: absolute;
      background-size: 100% auto !important;
      width: 325px;
      height: 477px;
      position: absolute;
      right: 40px;
      bottom: 0em;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      filter: alpha(opacity=0);
      -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      -ms-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .cluster {
      margin-right: auto;
      width: 100%;

      p {
        width: 60%;
        @media (max-width: 768px) {
          width: 80%;
        }
      }
    }

    h2 {
      background: none;
      margin-bottom: 0;
      padding-bottom: 0.85em;

      font-weight: bold;

      @media (max-width: 1680px) {
        margin-top: 0;
        font-size: 30px;
      }
    }
  }
}
