.wrapper {
  .panel-hero-heading {
    @media (max-width: 768px) {
      transform: translateY(-25%);
    }
  }
  .ulSupportGames {
    --size-gap: 2%;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--size-gap);

    @media (max-width: 789px) {
      --size-gap: 4%;
    }

    > li {
      @media (max-width: 789px) {
        flex-basis: calc((100% - var(--size-gap)) / 2);
      }
      flex-basis: 32%;
      margin-bottom: var(--size-gap);
      a {
        &,
        img {
          width: 100%;
          display: block;
        }
        img {
          object-fit: contain;
        }
      }
    }
  }
}
