.thumbHayday {
  right: 60px !important;
  @media (max-width: 1680px) {
    width: 237px !important;
    height: 328px !important;
    bottom: 1.75em !important;
  }
  @media (max-width: 1280px) {
    width: 198px !important;
    height: 274px !important;
    right: 60px !important;
  }
  @media (max-width: 1024px) {
    width: 158px !important;
    height: 219px !important;
    right: 40px !important;
  }
  @media (max-width: 767px) {
    display: none !important;
  }
}

.thumbCoc {
  width: 567px !important;
  height: 404px !important;
  bottom: -0.9em !important;
  right: -54px !important;
  @media (max-width: 1280px) {
    width: 490px !important;
    height: 300px !important;
    bottom: 1em !important;
    right: -30px !important;
  }
  @media (max-width: 1024px) {
    width: 320px !important;
    height: 210px !important;
    right: 0 !important;
  }
  @media (max-width: 767px) {
    display: none !important;
  }
}

.thumbBoombeach {
}

.clashroyale_article_thumb_first {
  width: 500px !important;
  height: auto !important;
  left: 0 !important;
  @media (max-width: 1280px) {
    width: 400px !important;
  }
  @media (max-width: 1024px) {
    width: 300px !important;
  }
  @media (max-width: 767px) {
    width: 100% !important;
  }
}

.clashroyale_article_thumb_second {
  bottom: -2em !important;
  @media (max-width: 1680px) {
    bottom: auto !important;
  }
}

.clashroyale_thumb_timeline {
  width: 542px !important;
  height: 542px !important;
  bottom: 1em !important;
  right: -60px !important;
  @media (max-width: 1680px) {
    width: 480px !important;
    height: 480px !important;
  }
  @media (max-width: 1680px) {
    width: 480px !important;
    height: 480px !important;
    bottom: 0.8em !important;
  }
  @media (max-width: 1280px) {
    width: 400px !important;
    height: 400px !important;
    right: -50px !important;
    bottom: -0.6em !important;
  }
  @media (max-width: 1024px) {
    width: 320px !important;
    height: 320px !important;
  }
  @media (max-width: 767px) {
    display: none !important;
  }
}
