.SearchBtn {
  padding: calc((78px - 54px) / 2);
  background-color: #000;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all 0.2s ease;
    color: #808080;

    > svg {
      margin-right: 4px;
    }
    &:hover {
      color: #fff;
    }
    --size: 54px;

    @media (max-width: 1280px) {
      --size: 44px;
    }

    width: var(--size);
    &.hasText {
      width: 100%;
    }
    height: var(--size);
  }
}
